<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStudentService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:20575/StudentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStudentService"
                contract="SimpleWCFServiceReference.IStudentService" name="BasicHttpBinding_IStudentService" />
        </client>
    </system.serviceModel>
</configuration>